version: '3.8'

services:
  catalogdb:
   image: postgres

  basketdb:
   image: postgres

  distrubutedcache:
   image: redis


  
  catalog.api:
    image: ${DOCKER_REGISTRY-}catalogapi
    build:
      context: .
      dockerfile: src/Services/Catalog/Catalog.API/Dockerfile

volumes:
  postgres_catalog:
  postgres_basket:



